@import "./content/nav";
@import "./content/view";
#content {
    display: flex;
    flex: auto;
    margin: {
        top: $bar-height + $content-margin-column;
        bottom: $content-margin-column;
        left: $content-margin-row;
        right: $content-margin-row;
    }
    z-index: 5;
    #main {
        display: flex;
        flex: auto;
    }
}

