@import "./content/nav";
@import "./content/weather";
#content {
    display: flex;
    flex: auto;
    margin: {
        top: $menu-width+$nav-margin;
        bottom: $nav-margin;
        left: $content-margin;
        right: $content-margin;
    }
    z-index: 5;
    #main {
        display: flex;
        flex: auto;
    }
}

