/* @START: Here is the menu style
 * @Author: Hewel
 * @Date: 2018-03-27 17:43:49
 * @Last Modified by: Hewel
 * @Last Modified time: 2018-04-02 18:37:35
 */

#menu-side {
    min-width: $menu-width;
    background-color: $card-color;
    box-shadow: $menu-shadow;
    z-index: 10;
    .menu-nav {
        width: 100%;
        .menu-logo {
            height: $menu-width;
            background-color: #eee;
        }
        .menu-list .menu-item {
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            font-size: $menu-font-size;
            line-height: $menu-width;
            color: $main-color;
            i {
                font-size: $menu-icon-size;
                margin: 0 $nav-margin;
            }
            span {
                margin-right: $nav-margin;
            }
        }
    }
}
