/* @START: All style variables are here
 * @Author: Hewel
 * @Date: 2018-03-27 17:09:28
 * @Last Modified by: Hewel
 * @Last Modified time: 2018-04-03 23:05:10
 */

//Mark: Here are the color values
$body-background-color: #3c3f41;
$background-color: #f5f5f5;
$card-color: #fff;
$hover-background-color: #eceff1;
$base-color: #3dc1ff;
$main-color: #00b7e5;
$font-color: #34495e;
$link-color: #2f4d4f;
$scrollBar-color: #d4d8db;
$hover-scrollBar-color: #c5ccd1;
$box-shadow-color: rgba(96, 125, 139, 0.16);

//Mark: Here are the shadow values
$menu-shadow: 1px 0 6px 0px $box-shadow-color;
$card-shadow: 0 1px 6px 0px $box-shadow-color;

//MARK: Here are the length values
$unfold-scrollBar-width: 1.6rem;
$shrink-scrollBar-width: .4rem;
$logo-size: 4rem;
$menu-width: 6.4rem;
$top-height: 12.8rem;
$nav-margin: 1.6rem;
$main-padding: 3.2rem;
$content-margin: 4rem;
$weather-width: 27.2rem;
$link-padding: 1.6rem;
$link-width: 16.8rem;
$tip-width: 10.4rem;

//MARK: Here are the font sizes
$menu-font-size: 2rem;
$menu-icon-size: $menu-font-size + .4rem;
