.main-box {
    display: flex;
    flex-direction: column;
    padding: $main-padding-column $main-padding-row;
    background-color: $card-color;
    box-shadow: $card-shadow;
    h3 {
        display: flex;
        align-items: center;
        color: $font-color-light;
        margin: {
            top: 0;
            left: $link-padding-row + .4rem;
            bottom: $main-padding-column;
        }
        &::before {
            content: '';
            height: 2rem;
            width: .8rem;
            margin-right: 2rem;
            background-color: $main-color;
        }
    }
    .main-nav {
        flex: auto;
        background-color: $card-color;
        ul {
            display: flex;
            align-items: flex-start;
            flex-wrap: wrap;
            li {
                margin: {
                    bottom: $link-margin-bottom;
                }
                flex-basis: $link-width;
                a {
                    display: flex;
                    padding: 0 $link-padding-row;
                    i {
                        margin-right: $link-icon-margin-right;
                    }
                }
            }
        }
    }
}
