.main-nav {
    flex: auto;
    background-color: $card-color;
    box-shadow: $card-shadow;
    ul {
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        padding: $main-padding-column $main-padding-row;
        li {
            margin: {
                bottom: $link-margin-bottom;
            }
            flex-basis: $link-width;
            a {
                display: flex;
                padding: 0 $link-padding-row;
                i {
                    margin-right: $link-icon-margin-right;
                }
            }
        }
    }
}
